.chat-auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-plate {
	display: grid;
    grid-template-rows: 50px 1fr;
	gap: 25px;
	width: 400px;
    height: 500px;
    background-color: #314c44;
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.auth-header-links {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
	color: var(--text-h);
}

.auth-header-links a {
	padding: 10px 20px;
}

.authorization-form, .registration-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.authorization-form input, .registration-form input,
.authorization-form button, .registration-form button {
	height: 40px;
    font-size: 18px;
    text-indent: 10px;
	border: none;
    border-radius: 10px;
}

/* .authorization-form input, .registration-form input {
	background-color: white;
} */

.authorization-form input:focus-visible, .registration-form input:focus-visible {
	outline: 1px solid white;
}

.forgot-password-link {
	display: flex;
    align-items: center;
    justify-content: center;
	color: var(--text-h);
	text-decoration: none;
}

.error-messages {
	color: var(--text-h);
}

.input-error {
	outline: 2px solid red;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.go-back-button {
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}