secret=

# MySQL
MYSQL_DB_HOST=127.0.0.1
MYSQL_DB_USER=root
MYSQL_DB_PASS=root
MYSQL_DB_NAME=local

# MongoDB
MONGO_DB_HOST=mongodb://localhost:27017/
MONGO_DB_USER=
MONGO_DB_PASS=
MONGO_DB_NAME=local

APP_NAME=
APP_MAIL_HOST=
APP_MAIL_PORT=
APP_MAIL_USER=
APP_MAIL_PASSWORD=
APP_DOMAIN=http://localhost:5173
APP_MODE=dev
APP_TOKEN_TTL=