.chat-auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-back-button {
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}